<div class="container-fluid">
  <hr>
  <div class="spacer-30"></div>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <h5>Guillaume Caulier</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, excepturi. Nemo consectetur laudantium fuga perspiciatis voluptatum veritatis laborum corporis praesentium, molestias nulla harum, reiciendis in ea. Sequi culpa debitis magnam.</p>
    </div>
    <div class="col-xs-12 col-sm-2">
      <h6>À propos</h6>
      <ul>
        <li>Contact</li>
        <li>Mes services</li>
        <li>About</li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-2">
      <h6>Suivez moi</h6>
      <ul>
        <li>Twitter</li>
        <li>Github</li>
        <li>Linkedin</li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-4"></div>
  </div>
  <div class="spacer-30"></div>
  <div class="text-center">
    <small>© 2016 Guillaume Caulier . All rights reserved.</small>
  </div>
  <div class="spacer-30"></div>
</div>
