<footer>
  <div class="container-fluid">
    <div class="spacer-30"></div>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <h5>Guillaume Caulier</h5>
        <ul class="list-unstyled">
        <li><address><p>40 rue de la Baignerie, 59800 Lille</p></address></li>
        <li></li><a href="tel:+33601402522"><i class="fa fa-phone" aria-hidden="true"></i> 06 01 40 25 22</a></li>
        <li><a href="mailto:cauliergui@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i> Email</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-2">
        <h5>À propos</h5>
        <ul class="list-unstyled">
          <li>Contact</li>
          <li>Mes services</li>
          <li>About</li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-2">
        <h5>Suivez moi</h5>
        <ul class="list-unstyled">
          <li><a href="https://twitter.com/cauliergui?lang=fr" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a></li>
          <li><a href="https://github.com/Guillaumecaulier" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> Github</a></li>
          <li><a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i> Linkedin</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4"></div>
    </div>
    <div class="spacer-30"></div>
    <div class="text-center">
      <small>© 2016 Guillaume Caulier . All rights reserved.</small>
    </div>
    <div class="spacer-30"></div>
  </div>
</footer>
