<footer>
    <div class="container">
        <div class="spacer-30"></div>
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <h5>Guillaume Caulier</h5>
                <ul class="list-unstyled">
                    <li><a href="tel:+33601402522"><i class="fa fa-phone" aria-hidden="true"></i> 06 01 40 25 22</a></li>
                    <li><a href="mailto:cauliergui@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i> Email</a></li>
                </ul>
            </div>
        </div>
        <div class="spacer-15"></div>

        <hr>

        <div class="spacer-15"></div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <small class="text-left">Copyright 2016 © Guillaume Caulier | All Rights Reserved</small>
            </div>
            <div class="col-xs-12 col-sm-6">
                <ul class="list-inline text-right">
                    <li><a href="https://twitter.com/cauliergui?lang=fr" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="https://github.com/Guillaumecaulier" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="spacer-15"></div>
    </div>
</footer>




