<div class="bg-white">
  <div class="bg-red text-center">
    <div class="contenu-contact">
      <h2> Blue <small>and</small> Red</h2>
      <h3>Zhou <small>Tao</small></h3>
    </div>
  </div>
</div>
