---
title: HOME // Guillaume Caulier
---

<section id="preloader">
    <div class="loader" id="loader">
        <div class="loader-img"></div>
    </div>
</section>
<div class="spacer-30"></div>
<section>
  <div class="container-fluid">
    <div class="bg overlay-dark col-xs-12">
      <div class="content-bg text-center">
        <h5>Guillaume Caulier</h5>
        <div class="spacer-15"></div>
        <h1>Développeur Front-end</h1>
        <div class="spacer-15"></div>
        <h5>a sample of smart and cool website</h5>
      </div>
    </div>
  </div>
</section>




<div class="container ouhouh">
  <div class="big-letter hidden-sm hidden-xs inited" data-parallax='{"y" :180}'>
                        A
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="spacer-60"></div>
      <div class="spacer-60"></div>
       <h2 style="text-align:center"><bold><span class="hidden-sm hidden-mg hidden-lg">À</span> Voir</bold><span style="font-weight: lighter"> aussi</span><bold>...</bold></h2>
      <div class="spacer-60"></div>
      <div class="spacer-60"></div>
      <div class="pho">
        <%= image_tag "plat.jpeg"%>
        <div class="con">
            <h3>Julien Cornuel,</h3>
            <h4>Superviseur musical & Sound designer</h4>
            <p>Julien possède de nombreuses flèches à son arc. Superviseur musical, sound designer, musicien etc. Réalisation d'un portfolio sobre qui laisse place à la beauté de ses projets. </p>
            <a href=""><small>Lire la suite </small></a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="pho">
        <%= image_tag "cocktail.jpeg"%>
        <div class="con">
            <h3>Mind Spirits,</h3>
            <h4>find a barman for your events</h4>
            <p>Application web réalisé dans le cadre des 10 jours de projets du Wagon à Lille.</p>
            <a href=""><small>Lire la suite </small></a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="transitio"></div>
<div class="spacer-60"></div>



<div class="container ouhouh">
  <div class="big-letter  hidden-sm hidden-xs inited" data-parallax='{"y" :180}'>
                        C
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="spacer-60"></div>
       <h2 style="text-align:center"><bold><span class="hidden-sm hidden-mg hidden-lg">À</span> Voir</bold><span style="font-weight: lighter"> aussi</span><bold>...</bold></h2>
      <div class="spacer-60"></div>
      <div class="pho">
        <%= image_tag "plat.jpeg"%>
        <div class="con">
            <h3>Julien Cornuel,</h3>
            <h4>Superviseur musical & Sound designer</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem quos voluptatum quaerat, iure neque commodi natus quam officia ut cum. Consequatur ullam est, culpa repudiandae et cum cupiditate nisi labore.</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="pho">
        <%= image_tag "cocktail.jpeg"%>
        <div class="con">
            <h3>Mind Spirits,</h3>
            <h4>find a barman for your events</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem quos voluptatum quaerat, iure neque commodi natus quam officia ut cum. Consequatur ullam est, culpa repudiandae et cum cupiditate nisi labore.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h3>Me <span style="font-weight: lighter">contacter</span></h3>
  <div class="text-center">
    <h5>Pour parler de vos projets, demander des conseils et même boire un café.</h5>
    <div class="spacer-15"></div>
    <a href="" class="button-black">Contact</a>
  </div>
</div>

<div class="spacer-60"></div>
